@charset "UTF-8";

body {
    background-color: #0d0208; /* Deep black */
    color: #00ff41; /* Matrix Green */
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

.card {
    background: rgba(0, 0, 0, 0.9);
    width: 450px;
    padding: 40px;
    border: 2px solid #00ff41;
    box-shadow: 0 0 20px #003b00;
    border-radius: 5px;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    border-bottom: 1px solid #00ff41;
    padding-bottom: 10px;
    letter-spacing: 5px;
    text-shadow: 0 0 10px #00ff41;
}

input, textarea {
    width: 100%;
    background: #000;
    border: 1px solid #008f11;
    color: #00ff41;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #00ff41;
    box-shadow: 0 0 10px #00ff41;
}

button {
    width: 100%;
    background: #008f11;
    color: black;
    border: none;
    padding: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
}

button:hover {
    background: #00ff41;
    box-shadow: 0 0 20px #00ff41;
}

a {
    color: #00ff41;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 0.8em;
}

a:hover {
    text-shadow: 0 0 10px #00ff41;
}